.add-todo{
    gap: 10px;
    input{
        flex-grow: 1;
        border-radius: 1rem;
        background-color: inherit;
        border-color: var( --primary-background-hover-color);
        font-size: 18px;
        padding: 10px;
        color: var(--text-color);
      

        &::placeholder {
            color: var(--text-color);
            opacity: 0.5;
          }
          
        &:focus {
            border-color:var(--input-focus-color);
            box-shadow: 0 0 0 1px var(--input-focus-color);
            outline: none;
          }
        
    }
}