.primary-btn{
    padding: 15px;
    font-size: 18px;
    border-radius: 0.5em;
    background-color: var( --primary-background-color);
    border: none;
    color:#fff;

    &:hover{
        background-color: var(--primary-background-hover-color);
    }
}
